/* Colors to use
#000000
#14213D
#FCA311
#E5E5E5
#FFFFFF */


body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: "Nunito Sans", sans-serif;
}

header, footer {
    background-color: #000000;
}

h1 {
    color:#00ADB5;
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}